a {
    position: fixed;
    top: 20px;
    right: 20px;
}

body {
    background-color: rgb(67, 15, 15);
}

table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(174, 28, 35);
}

th {
    border: 1px solid #000000;
    padding: 12px;
    background-color: #000000c7;
    color: white;
}

td {
    border: 0.5px solid #111111;
}

h2 {
    font-size: 28px;
    color: #bc4545;
    text-align: center;
}